# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfvars

# IDE / virtualenv
.idea/
.venv/
# Terraform state folders
terraform.tfstate.d/

# Private keys
*.pem
*.key

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
